{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 * Pour débuger : {{ dump(_context["field_media_image"]|keys) }}
 {{ constant('Twig_Environment::VERSION') }}
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}
<section id="wrap-full-show">
  <div class="div-image-style-banner">
    {% set media_uri = node.field_media_image|file_uri %}
    {% if media_uri is not null %}
      <picture>
        <source media="(max-width: 992px)" srcset="{{ media_uri|image_style('square') }}">
        <source media="(min-width: 992px)" srcset="{{ media_uri|image_style('banner') }}">
        <img src="{{ media_uri|image_style('square') }}" alt="">
      </picture>
    {% endif %}
    {# {{ drupal_image(node.field_media_image.entity.field_media_image.entity.uri.value, 'banner', {responsive: true}) }} #}
  </div>
  <div class="container wrapper-over-img-abs">
    <div class="row">
      <div class="col">
        <div class="group-text-over-img-abs">
          {{ content.field_festival }}
          {{ content.field_dates }}
          {{ ds_content.node_title }}
          {{ ds_content.field_subtitle }}
        </div>
      </div>
    </div>
  </div>
  <div class="row-anchor-full-show">
    <div class="container">
      {% if not field_casting is empty or not field_production is empty or not field_coproduction is empty or not field_partnerships is empty %}
        <div class="row">
          <div class="col-md-4 offset-md-1 order-md-2">
            <button class="btn btn-secondary" id="book-show">Réserver</button>
          </div>
          <div class="col-md-7 order-md-1">
            {# Test si les champs sont présents #}
            {% if not field_casting is empty %}
              <a href="#casting" class="anchor-show-full">Distribution</a>
            {% endif %}
            {% if not field_production is empty %}
              <a href="#production" class="anchor-show-full">Production</a>
            {% endif %}
            {% if not field_coproduction is empty %}
              <a href="#coproduction" class="anchor-show-full">Coproduction</a>
            {% endif %}
            {% if not field_partnerships is empty %}
              <a href="#partnerships" class="anchor-show-full">Partenariats</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-1 order-md-2">
        {# Colonne de droite sur grand écran #}
        <div class="show-aside-information">
          <section class="section-all-show-dates">
            <h3 class="title-all-show-dates">Toutes les dates</h3>
            <ul class="list-unstyled">
              {% for date in node.field_dates %}
                <li>{{ date.value | date('U') |  format_date('show_date') | capitalize }}</li>
              {% endfor %}
            </ul>
          </section>
          <section class="section-further-information">
            {% if not field_display_age is empty and field_display_age %}
              <div class="wrapper-field d-flex align-items-center">
                <div class="field__label">À partir de :&nbsp;</div>
                {% if node.field_minimum_age.0.value == '0.25' %}
                  <div class="field__item">3 mois</div>
                {% elseif node.field_minimum_age.0.value == '0.50' %}
                  <div class="field__item">6 mois</div>
                {% elseif node.field_minimum_age.0.value == '0.75' %}
                  <div class="field__item">9 mois</div>
                {% elseif node.field_minimum_age.0.value == '1.00' %}
                  <div class="field__item">1 an</div>
                {% else %}
                  <div class="field__item">{{ node.field_minimum_age.0.value|integer }} ans</div>
                {% endif %}

              </div>
            {% endif %}
            {% if not field_price is empty %}
              <div class="wrapper-field d-flex align-items-center">
                <div class="field__label">Tarif :&nbsp;</div>
                <div class="field__item">{{ field_price.0 }}</div>
              </div>
            {% endif %}
            {% if not field_generic_location is empty or not field_location is empty %}
              <div class="wrapper-field d-flex align-items-start">
                <div class="field__label">Lieu&nbsp;:&nbsp;</div>
                <div class="d-flex flex-column">
                  {% if not field_location is empty %}
                    <div class="field__item">{{ field_generic_location.0 }}</div>
                  {% endif %}
                  {% if not field_location is empty %}
                    <div class="field__item">{{ field_location.0 }}</div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {{ field_entrance }}
            {{ field_duration }}
            {{ field_restauration }}
          </section>
          {{ field_additional_info }}
        </div>
      </div>
      <div class="col-md-7 order-md-1">
        {# Colonne de gauche sur grand écran #}
        <div class="show-main-information">
          {% if not content.field_from.value is empty %}
            <div class="field-by-or-from">
              <div class="field-by-or-from-label">De :&nbsp;</div>
              <div class="field-by-or-from-title">{{ content.field_from.0 }} </div>
            </div>
          {% endif %}
          {# Structure (compagnie ou autre) #}
          {% if not field_by is empty %}
            <div class="field-by-or-from">
              <div class="field-by-or-from-label">Par :&nbsp;</div>
              <div class="field-by-or-from-title">{{ content.field_by.0['#title'] }} </div>
            </div>
          {% endif %}

          {# Liens de partage ################################################################### #}
          {% set facebook_url = ['http://www.facebook.com/sharer/sharer.php?u=https://www.domainedo.fr', path('entity.node.canonical', {'node': content['#node'].id()  })  ]|join %}
          <div class="share-social-buttons">
            <a class="icon-twitter" target="_blank" title="Partager sur twitter"
               href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdomainedo.fr{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}&amp;text=&amp;hashtags=spectacle,Montpellier">
              <span class="visually-hidden-focusable">Twitter</span>
            </a>
            <a class="icon-facebook" title="Partager sur facebook"
               href="{{ facebook_url }}&t={{ node.label|replace({' ': '_'}) }}" target="_blank" class="share-popup">
              <span class="visually-hidden-focusable">Facebook</span>
            </a>
          </div>
          {# Body ################################################################################ #}
          {{ ds_content.body }}
          {# Vidéo ############################################################################### #}
          {{ field_videos }}
          {% if not field_casting is empty %}
            <div id="casting">{{ field_casting }}</div>
          {% endif %}
          {% if not field_production is empty %}
            <div id="production">{{ field_production }}</div>
          {% endif %}
          {% if not field_coproduction is empty %}
            <div id="coproduction">{{ field_coproduction }}</div>
          {% endif %}
          {% if not field_partnerships is empty %}
            <div id="partnerships">{{ field_partnerships }}</div>
          {% endif %}
          {# Vous aimerez aussi ##################################################################### #}
          {{ field_shows }}

        </div>
      </div>
    </div>
  </div>
</section>
</{{ ds_content_wrapper }}>
