{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

{% if field_pdf_export[0]['#markup'] %}
  {% set url = field_pdf_export[0]['#markup'] %}
{% else %}
  {% set url = field_mailchimp_url[0]['#url_title'] ?? '#' %}
{% endif %}

{% set title = field_mailchimp_url[0]['#title'] ?? '' %}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

<div class="newsletter-teaser">
  {{ field_media_image }}
  <div class="txt-over-newsletter-image">
    <div class="title-nl">
      <div class="newsletter-url">
        <a href="{{ url }}" target="_blank">{{ title }}</a>
      </div>
    </div>
    <div class="body-nl">
      {{ body }}
    </div>
    <div class="bottom-nl">

      <div class="sending-date-nl"><span>Envoyée le&nbsp;:&nbsp;</span><span>{{ field_sending_date }}</span></div>
    </div>

  </div>
</div>

</{{ ds_content_wrapper }}>
