{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}

<div class="container">
  <div class="row">
    <div class="col">{{ title }}</div>
  </div>
  <div class="row">
    <div class="d-sm-none d-md-block col-md-3" id="page-nav-left">
      {{ drupal_entity('block', 'ddofooter1') }}
    </div>
    <div class="col-md-9">
      {{ ds_content }}
    </div>
  </div>
</div>


</{{ ds_content_wrapper }}>
