{#
/**
 * @file
 * Display Suite 1 column template.
 * JE ME SERS DE CE TWIG POUR INFO FLASH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

{% if content.field_target_url.0 is empty or content.field_target_url.0 == "" %}
  {% set url_destination = path('entity.node.canonical', {'node': content['#node'].id()  }) %}
{% else %}
  {% set url_destination = field_target_url %}
{% endif %}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}


<a class="link-txt-teaser-flash" href="{{ url_destination }}">
  <div class="row">
    <div class="offset-md-1">{{ content.node_title }}</div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-1"><div class="flash-info-body">{{ content.body }}</div></div>
    <div class="col-md-3"><button class="btn btn-more">Plus d'infos</button></div>
  </div>
</a>

</{{ ds_content_wrapper }}>
