{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * List all fields: {{ dump(_context|keys) }} ou {{ dump(_context["content"]|keys) }} ou {{ dump(_context["field_media_image"]|keys) }}
 * @ingroup themeable
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}

{% set classes = [
  'layout',
  'layout--onecol',
] %}

{% if content %}
  <article class="teaser-show">
    <a class="link-img-teaser-show" href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">
      {{ field_media_image }}
    </a>
    <div class="show-age" data-age="{{ content.field_minimum_age.0 }}"></div>
    {% if content.field_festival is empty %}
      <div class="festival-teaser-show">
        {{ content.field_festival }}
      </div>
    {% endif %}

    {% if 'extra' in node.field_location.0.entity.parent.entity.label|lower %}
      <div class="teaser-location extramuros" title="Hors les murs du domaine d'O">
        <span class="visually-hidden-focusable">Hors les murs du domaine d'O</span>
      </div>
    {% endif %}

    <div class="bottom-info-teaser-show">
      <a class="link-txt-teaser-show" href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">
      {{ content.field_dates }}
      {{ content.node_title }}
      {{ content.body }}
      </a>
      <div class="bottom-buttons-teaser-show">
        <a class="link-details-teaser-show btn btn-light text-secondary"
           href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">
          Détails
        </a>
{#        <a class="link-book-teaser-show btn btn-secondary" href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">#}
{#          Réserver#}
{#        </a>#}

{#
        On affiche l'un, l'autre ou aucun des deux boutons RESERVER
        en fonction de ce qui est évalué dans le hook ddo_mapado_node_view().
#}
        {% if not mapado_url.0 is empty %}
          <a class="link-book-teaser-show btn btn-secondary" href="{{ node.mapado_url.0.uri }}">
            {{ node.mapado_url.0.title }}
          </a>
        {% endif %}

        {% if not mapado_url.1 is empty %}
          <a class="link-book-teaser-show btn btn-secondary" href="{{ node.mapado_url.1.uri }}">
            {{ node.mapado_url.1.title }}
          </a>
        {% endif %}

      </div>
    </div>
  </article>
{% endif %}
</{{ ds_content_wrapper }}>
