{#
/**
 * @file
 * Display Suite 1 column template.
 * JE ME SERS DE CE TWIG POUR "EN CE MOMENT" !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

{% if content.field_target_url.0 is empty or content.field_target_url.0 == "" %}
  {% set url_destination = path('entity.node.canonical', {'node': content['#node'].id()  }) %}
{% else %}
  {% set url_destination = field_target_url.0 %}
{% endif %}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}


<a class="link-txt-teaser-currently" href="{{ url_destination }}">
  <section id="section-currently">
    {{ drupal_image(node.field_banner_image.entity.field_media_image.entity.uri.value, 'currently', {responsive: true}) }}
    <div id="over-currently">
      {{ content.node_title }}
      <div class="clearfix"></div>
      <button class="btn btn-more mt-3">Plus d'infos</button>
    </div>
  </section>
</a>

</{{ ds_content_wrapper }}>
