{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{# Récupération de l'url du node documentation en cours #}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>
{% set url_destination = path('entity.node.canonical', {'node': content['#node'].id()  }) %}
{{ title_suffix.contextual_links }}
<div>
  <div class="technique-teaser">
    <a class="link-place-technique-image" href="{{ url_destination }}">
      {{ content.field_paragraphs }}
    </a>
    <a class="link-place-technique-title" href="{{ url_destination }}">{{ title }}</a>

  </div>
  {{ body }}
</div>
<div>
  <a class="btn btn-more float-end btn-more-tech" href="{{ url_destination }}">Plus d'infos</a>
</div>


</{{ ds_content_wrapper }}>
