{#
/**
 * @file
 * Display Suite 1 column template.
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}
<div class="div-image-style-banner">
  {% if not node.field_banner_image is empty %}
    {{ drupal_image(node.field_banner_image.entity.field_media_image.entity.uri.value, 'banner_narrow', {responsive: true}) }}
  {% endif %}
</div>
<div class="container wrapper-over-img-abs">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="group-text-over-img-abs">
        {{ content.node_title }}
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="group-text-over-img-abs">

        {{ field_videos }}
        {% if field_videos is empty and node.field_banner_image.entity.field_media_image is not empty   %}
          {{ drupal_image(node.field_banner_image.entity.field_media_image.entity.uri.value, '3_2_image', {responsive: true}) }}
        {% endif %}

        {{ content.body }}
      </div>
    </div>
  </div>
</div>

</{{ ds_content_wrapper }}>
